.cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  font-size: 50px;
}

.cell:hover {
  cursor: pointer;
  user-select: none;
}

.cell-player-1:hover {
  border-color: cyan;
}

.cell-player-2:hover {
  border-color: darkorchid;
}
